<div class="center hero-unit">
<h1>Welcome to the Training&Consulting Center</h1>

<h2>This is the home page for the sending requests to BPC Training and Consulting Center
</h2>

<%= link_to "Send the request now!",'#', class: "btn btn-large btn-primary"%>
</div>

